# Python
__pycache__/
*.pyc
.venv/
venv/

# Data files
data/
*.csv
*.xlsx

# Jupyter
.ipynb_checkpoints/
*.ipynb

# notebooks
notebooks/togo_eda.ipynb
notebooks/sierraleone_eda.ipynb

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db